<h5>ngIf</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos
</div>

<div *ngIf="cursos.length == 0">
  Sem cursos no momento
</div>

<br />

<hr />

<br />

<div *ngIf="mostrarCursos">
  Lista de cursos
</div>

<div *ngIf="!mostrarCursos">
  Sem cursos no momento
</div>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<br /><br />

<h5>Hidden como alternativa</h5>

<div [hidden]="!mostrarCursos">
  Lista de cursos
</div>

<div [hidden]="mostrarCursos">
  Sem cursos no momento
</div>
