<h5>ngIf</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos
</div>

<div *ngIf="cursos.length == 0">
  Sem cursos no momento
</div>

<br />

<hr />

<br />

<div *ngIf="mostrarCursos">
  Lista de cursos
</div>

<div *ngIf="!mostrarCursos">
  Sem cursos no momento
</div>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<br /><br />

<h5>Hidden como alternativa</h5>

<div [hidden]="!mostrarCursos">
  Lista de cursos
</div>

<div [hidden]="mostrarCursos">
  Sem cursos no momento
</div>

<h5>Removendo o * e usando template</h5>

<ng-template [ngIf]="mostrarCursos">
  <div>Lista de cursos aqui - 1</div>
</ng-template>

<button (click)="onShowCourses()">Show Courses</button>

<div *ngIf="showCourses">
  Show Courses is active
</div>
