<!-- <h5>Styles com property binding (style binding)</h5>

<button
  [style.backgroundColor]="ativo ? 'blue' : 'gray'"
  [style.color]="ativo ? 'white' : 'black'"
  [style.fontSize]="tamanhoDaFonte + 'px'"
  (click)="changeAttr()"
  >
  Mudar atributo
</button>
<br /><br />
<input type="text" [(ngModel)]="tamanhoDaFonte">
<br/><br/><br/> -->
<h5>[ngStyle]</h5>
<button [ngStyle]="{'backgroundColor': ativo ? 'red' : 'blue', 'color': ativo ? 'blue' : '#f00'}" (click)="changeAttr()">
  Mudar atributo
</button>
<br /><br />
<input type="text" [(ngModel)]="tamanhoDaFonte">
